<h3>Heroes List</h3>
        #if ($heroes)
<ul>
#foreach ($hero in $heroes)
<li>Name: $hero.getHeroName()</li>
<li>Special power: $hero.getSpecialPower()</li>
<br>
<hr>
#end
</ul>
        #else
<h3>No Heroes yet!</h3>
        #end
<a href="/heroes/new"><button class="btn-lg">Add a new Hero</button></a>