<h1>All Squads</h1>
<ul>
#foreach ($squad in $squads)
<li>Name: <a href="/squads/$squad.getId()">$squad.getName()</a></li>
<li>Max-Size: <a href="/squads/$squad.getId()">$squad.getSize()</a></li>
<li>Cause: <a href="/squads/$squad.getId()">$squad.getCause()</a></li>
<hr>
#end
</ul>
<button class="btn-lg"><a href="/squad/new">Add New Squad</a></button>