<h1>Squad Name: $squad.getName()</h1>
<a href="/squad/$squad.getId()/heroes/new"><button class="btn-lg">Add a new hero<br>To $squad.getName()</button></a>
<a href="/squad"><button class="btn-lg">All Squads</button></a>